<div id="<%= dom_id post %>" class="shadow rounded p-5">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <div>
    <%= image_tag(post.image, class: 'image shadow-sm rounded my-5') %>
  </div>
</div>
